<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BD.Automation.Core.Common" version="2.0.0.1" targetFramework="net461" />
  <package id="BD.Automation.Core.WebDriver" version="2.0.0.1" targetFramework="net461" />
  <package id="DnsClient" version="1.5.0" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.11.36" targetFramework="net461" />
  <package id="IdentityModel" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net461" />
  <package id="MongoDB.Bson" version="2.7.2" targetFramework="net461" />
  <package id="MongoDB.Driver" version="2.7.2" targetFramework="net461" />
  <package id="MongoDB.Driver.Core" version="2.7.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="Newtonsoft.Json.Schema" version="3.0.14" targetFramework="net461" />
  <package id="NUnit" version="3.13.2" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="4.1.0" targetFramework="net461" />
  <package id="RazorEngine" version="3.10.0" targetFramework="net461" />
  <package id="RestSharp" version="106.13.0" targetFramework="net461" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="103.0.5060.5300" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net461" />
  <package id="System.Text.Json" version="6.0.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="Thinktecture.IdentityModel.Client" version="4.0.1" targetFramework="net461" />
</packages>